.hero-section {
    background-color: getColorFromPalette('background', 'dark');
    text-align: center;

    @include mq(mobile-only) {
        max-width: 480px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;

        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/retina/hero-img/header_s.jpg");

        background-image: -webkit-image-set(url("../images/retina/hero-img/header_s.webp") 1x), linear-gradient(to right,
                rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

                @include mq(retina) {
                    background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url("../images/retina/hero-img/header_s@2x.jpg");

                    background-image: -webkit-image-set(url("../images/retina/hero-img/header_s@2x.webp") 2x),
                    linear-gradient(to right,
                        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
                }
    }
    
    @include mq(tablet-only) {
        max-width: 768px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;

        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/retina/hero-img/header_m.jpg");

        background-image: -webkit-image-set(url("../images/retina/hero-img/header_m.webp") 1x), linear-gradient(to right,
                rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

                @include mq(retina) {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url("../images/retina/hero-img/header_m@2x.jpg");
                
                    background-image: -webkit-image-set(url("../images/retina/hero-img/header_m@2x.webp") 2x),
                        linear-gradient(to right,
                            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
                }
    }
    
    @include mq(desktop) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/retina/hero-img/header_l.jpg");

        background-image: -webkit-image-set(url("../images/retina/hero-img/header_l.webp") 1x), 
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

        @include mq(retina) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/retina/hero-img/header_l@2x.jpg");
        
            background-image: -webkit-image-set(url("../images/retina/hero-img/header_l@2x.webp") 2x),
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        }
    }
    
    
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;

    
}

.hero-section__text-hero {
    font-family: getFontFamily('first');
    color: getColorFromPalette('primary', 'light');
    
    // text-align: center;
    // letter-spacing: 0.06em;
    // text-transform: uppercase;
    margin: 0 auto 30px;
    

    @include mq(not-desktop) {
        font-weight: getFontWeight('bolder');
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-left: 30px;
        margin-right: 30px;
    }

    @include mq(desktop) {
        font-weight: getFontWeight('bolder');
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 696px;
        
    }
}

.hero-section__button-order {
   @extend %button-order
}
