.section-portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(30px * -1);
    margin-right: calc(30px * -1);


}

.section-portfolio__card {
    margin-right: 30px;
    margin-top: 30px;

}

.section-portfolio__card-link {
    display: block;
    text-decoration: none;
    font-style: normal;
    color: inherit;

    &:hover,
    &:focus {
    
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

}



.section-portfolio__img-wrapper {
    position: relative;
    overflow: hidden;
}


.section-portfolio__card-link-overlay {


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    line-height: 1.55;
    color: getColorFromPalette('primary', 'light');
    background-color: rgba(33, 150, 243, 0.9);
    transition: createTransitionFor('transform');
    transform: translateY(100%);

    .section-portfolio__card-link:hover &,
    .section-portfolio__card-link:focus & {
    
        transform: translateY(0%);
    
    }
}

.section-portfolio__overlay-text {

    font-weight: getFontWeight('normal');
    font-size: 18px;
    letter-spacing: 0.03em;

}

.section-portfolio__card-meta {

    padding: 20px 24px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;

}


.section-portfolio__subtitle {
    font-weight: getFontWeight('bold');
    font-size: 18px;
    line-height: 36px;
    color: getColorFromPalette('primary', 'dark');

}

.section-portfolio__description {

    line-height: 30px;
    font-weight: getFontWeight('normal');
    font-size: 16px;
    color: getColorFromPalette('primary', 'additional');
}